* {
    font-family: 'Funnel Display';
    margin: 0;
    padding: 0;
}

/* Navbar */

.home {
    height: 0;
    width: 0;
    
}

.navbar {
    background-color: #c2aeed;
    overflow: hidden;
}

.navbar a {
    float: right;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 23px;
}

.navbar img {
    float: left;
    height: 65px;
    width: 90px;
}

/* Title */

.title {
    background-image: url('../images/sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.title .text {
    padding-top: 350px;
}

.title .text .xl {
    animation-name: slide-left;
    animation-duration: 3s;
    animation-delay: 0s;
    margin-left: 10%;

}

.title .text .md {
    animation-name: slide-left;
    animation-duration: 3s;
    animation-delay: 0s;
    margin-left: 10%;
}

.title .text .small {
    text-align: center;
    animation-name: slide-left;
    animation-duration: 4s;
    animation-delay: 0s;
    margin-left: 10%;
}

.arrow {
    padding: 15% 0px 0px 45%;
}

.signup .home {
    height: 0;
    width: 0;
}

/* More */

.more {
    background-image: url('../images/flippedsky.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.allcircles {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: radial-gradient(circle at 100px 100px, #8be9ff, gray); /* Adds a radial gradient for a 3D effect */
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
    
}

.allcircles .one {
    margin-top: 300px;
}

.allcircles .two {
    margin-top: 500px;
}

.more .arrow {
    padding: 0% 0px 0px 45%;
}

/* Roadmap */
.roadmap {
    background-image: url('../images/sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.roadmap .allcircles .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: radial-gradient(circle at 100px 100px, pink, gray); /* Adds a radial gradient for a 3D effect */
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
    animation-name: slide-left-circle;
    animation-duration: 4s;
    animation-delay: 0s;
}

.roadmap {
    position: relative;
    
}
.roadmap .map-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 800px;
}

.roadmap .map-container .map-path {
    position: absolute;
    top: 0;
    left: -1000px;
    width: 300%;
    height: 100%;
    z-index: 0;
}

.roadmap .item {
    position: absolute;
    z-index: 1;
    text-align: center;
}


.roadmap .item p {
    margin-top: 8px;
    font-family: 'Georgia', serif;
    font-size: 14px;
    color: #444;
  }


/* About Me*/
.abtme {
    background-image: url('../images/sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.abtme .xl {
    text-align: center;
    margin-top: 50px;
}

.what {
    
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
.what img {
    display: flex;
    justify-content: left;
    align-content: center;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25%;
    border-color: black;
    border-width: 4px;
    border-style: dashed;
}

.what .small {
    display: flex;
    justify-content: right;
    align-content: center;
    flex-direction: row;
    margin-right: 25px;
    margin-top: 25%;
}

/* Project Blog */

.main {
    background-image: url('../images/sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.main .text {
    text-align: center;
}

.wip {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 50px;
}

.wip .wipfolders {
    display: flex;
    justify-content: left;
    align-content: center;
    flex-direction: row;
}

.wip .wipfolders div {
    margin-right: 200px;
}

.fin {
    margin-bottom: 100px;
    margin-left: 50px;
}

.misc {
    margin-bottom: 100px;
    margin-left: 50px;
}

/* Signup */
.signup {
    min-height: 100vh;
    background-image: url('../images/nightsky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    overflow: hidden;
}

.signup .wrapper {
    box-sizing: border-box;
    background-color: lightblue;
    height: 100vh;
    width: max(40%, 600px);
    text-align: center;
    padding: 10px;
    border-radius: 0 20px 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup .wrapper .md {
    font-size: 3rem;
    padding-bottom: 10%;
    text-decoration: underline;
}

.signup .wrapper form {
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.signup .wrapper form > .signup .wrapper div {
    width: 100%;
    display: flex;
    justify-content: center;
}


.signup .wrapper form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: lightcyan;
    transition: 150ms ease;
}

.signup .wrapper form input:hover {
    border: 2px solid gray;
}

.signup .wrapper form input:focus {
    outline: none;
    border: 2px solid gray;
}

.signup .wrapper:has(input:focus) > label {
    background-color: gray;
}

.signup .wrapper form label {
    flex-shrink: 0;
    height: 50px;
    width:50px;
    background-color: gray;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    margin-bottom: -50px;
}

.signup .wrapper form button {
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: 0.75em 1.5em;
    background-color: gray;
    color: lightcyan;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}

.signup .wrapper form button:hover {
    background-color: darkslategray;
}

.singup .wrapper p {
    color: lightcoral;
}

/* Login */
.login {
    min-height: 100vh;
    background-image: url('../images/nightsky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    overflow: hidden;
}

.login .wrapper {
    box-sizing: border-box;
    background-color: #ffccd9;
    height: 100vh;
    width: max(40%, 600px);
    text-align: center;
    padding: 10px;
    border-radius: 0 20px 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login .wrapper .md {
    font-size: 3rem;
    padding-bottom: 10%;
    text-decoration: underline;
}

.login .wrapper form {
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login .wrapper form > .signup .wrapper div {
    width: 100%;
    display: flex;
    justify-content: center;
}


.login .wrapper form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #ffebfb;
    transition: 150ms ease;
}

.login .wrapper form input:hover {
    border: 2px solid gray;
}

.login .wrapper form input:focus {
    outline: none;
    border: 2px solid gray;
}

.login .wrapper:has(input:focus) > label {
    background-color: gray;
}

.login .wrapper form label {
    flex-shrink: 0;
    height: 50px;
    width:50px;
    background-color: gray;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    margin-bottom: -50px;
}

.login .wrapper form button {
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: 0.75em 1.5em;
    background-color: gray;
    color: lightcyan;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}

.login .wrapper form button:hover {
    background-color: darkslategray;
}

.login .wrapper p {
    color: lightseagreen;
}

.login .home {
    width: 0;
    height: 0;
}

/* Animation */

@keyframes slide-left {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 10%;
      width: 100%;
    }
}

@keyframes slide-left-circle {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}

/* Font Sizes */

.small {
    font-size: 23px;
    font-weight: 8;
}

.md {
    font-size: 35px;
    font-weight: 350;
}

.lg {
    font-size: 42px;
    font-weight: 500;
}

.xl {
    font-size: 100px;
    font-weight: 600;
}